.PRODUCT-ITEM{
    margin: 15px;
    border-radius: 12px;
    background-color: red;
    padding: 5px;
    width: 150px;
}
.PRODUCT-ITEM img{
    width: 140px;
    border-radius: 15px;
    border: 2px solid black;
}
.PRODUCT-ITEM button{
    border-radius: 5px;
    margin-left: 35%;
}
.container-cart {
    background-color: orchid;
    border-radius: 12px;
    /* margin-top: -180px;  */
    position: fixed;
  top: 60px;
  left:400px;
  }
  .container-cart button{
    border-radius: 5px;
    margin: 5px;
  }
  .checkout-btn {
    text-decoration: none;
  }