.link-no-decoration {
  text-decoration: none;
}

.navigation {
  background-color: brown;
  overflow: hidden;
}
.navigation ul {
  background-color: yellow;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  background-color: red;
  padding: 14px 16px;
  font-size: 20px;
  float: left;
}

.navigation li.active {
  color: aqua;
}
